body {
  background-color: rgb(255, 224, 188);
  padding-bottom: 20rem;
}

h1 {
  padding: 6rem;
}
h2 {
  text-align: center;
  color: rgb(104, 44, 5);
}

h5 {
  color: rgb(104, 44, 5);
}

p {
  color: rgb(104, 44, 5);
}

h3 {
  text-align: justify;
  padding-left: 7rem;
  padding-right: 7rem;
  font-size: 20px;
  color: rgb(104, 44, 5);
}
